#rite-content {
  min-height: 300px;
  /*background-color: @select-background-color;*/
  border: 1px solid;
  -moz-border-radius: 0px 6px 0px 6px;
  -webkit-border-radius: 0px 6px 0px 6px;
  border-radius: 0px 6px 0px 6px;
  overflow: auto;
  max-width: 99.5%;
  z-index: 1;
  padding: .3em !important;
}
.rite-content {
  /*max-width:1280px;*/
  padding: 10px;
  border: none;
  font-family: 11px Segoe UI, Verdana, Tahoma, Arial !important;
}
.rite-widget {
  float: left;
  cursor: pointer;
  width: 200px;
  height: 105px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #FBFBFB;
  margin: 10px;
  position: relative;
}
.equipment {
  background: url(/Content/Images/widget-eq-search.png) no-repeat;
}
.workorder {
  background: url(/Content/Images/widget-wo-search.png) no-repeat;
}
.rite-widget-icon{
    height:64px;
    width:64px;
    float:left;
     margin: 5px 2px 0px 5px;
     position:relative;
}
.rite-widget .rite-widget-title{
  padding-right: 5px;
  color: #000;
  font-weight: bolder;
  font-size: .9em;
  float: right;
  text-align: right;
}
.rite-widget .rite-widget-desc{
  color: #666;
  font-size: 0.8em;
  float: right;
  text-align: right;
  padding: 5px;
  height: 30px;
  width: 100%;
}
.rite-panelbar {
  /*margin: 3px 3px !important;*/
  
}
.rite-panelbar-content {
  padding: 10px;
  background-color: white;
  overflow: auto;
  border:1px solid black;
  border-radius:5px;
  font-size:10px;
}
.rite-container{
    /*max-width:99.5%!important;*/
    max-width:100%!important;
}
.search{
    padding:10px;
    font-size:10px;
}
#header span{
        display: block;
    background-color: #9c9a9a;
    line-height: 2.43em;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    color: white;
}
.column {
  /*vertical-align: top;*/
  padding-left: 5px;
  margin: 10px;
}
.column td {
  /*vertical-align: top;*/
  padding: 0.25em 0;
}
.rite-label{
    font-size:10px;
    font-weight:normal;
}

table.search td{
    padding-left:10px;
}

#workorder-search .search input{
    border-radius:5px;
    border:1px solid black;
}
.grid{
    /*background-color:gainsboro;*/
    margin-top:10px;
  
    
    /*margin:*/ 
}

table.gridTable{
    width:100%;
    display:table;
    padding: 20px;
    border-color: grey;
    /*border: 5px solid black;*/
}
table.gridTable th, table.gridTable td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}
table.gridTable th {
  background-color: #4CAF50;
  color: white;
}
.gridTable tr:nth-child(even){background-color: #f2f2f2}

.btn{
    border-radius:5px;
    font-size:10px;
}